<h2><%= @artist.name %></h2><br>
<h3>Also known as: "<%= @artist.title %>"</h3><br>
<h3>Age: <%= @artist.age %></h3><br>
<h4><%= @artist.name %> plays the following instrument(s):</h4>
    <% @artist.instruments.each do |instrument| %>
        <p><%= instrument.name %></p>
    <% end %>